---
import Main from "../layouts/Main.astro";
---

<Main>
  <p>Hello 👋</p>

  <p>I'm Hollis, a Software Engineer and DevOps Engineer.</p>

  <p>Here is my <a href="/blog">blog</a> for storing my random thoughts.</p>
</Main>
