---
import { getCollection } from "astro:content";
import Main from "../layouts/Main.astro";
import BlogList from "../components/BlogList.astro";

// Get all entries from a collection.
// Requires the name of the collection as an argument.
// Example: retrieve `src/content/blog/**`
const blogs = await getCollection("blog");
---

<Main>
  <main>
    <BlogList blogs={blogs} />
  </main>
  <h2 class="flex">
    <div class="i-emojione:waving-hand-medium-dark-skin-tone"></div>
     Hello
  </h2>
</Main>
