---
import BlogSnippet from "./BlogSnippet.astro";
import type { CollectionEntry } from "astro:content";

interface Props {
  blogs: Array<CollectionEntry<"blog">>;
}

const blogs = Astro.props.blogs
  .filter((blogs) => {
    if (import.meta.env.CF_PAGES_BRANCH !== "main") {
      return true;
    }

    return !blogs.data.draft;
  })
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<div class="flex flex-col gap-3">
  {
    blogs.map((entry) => (
      <BlogSnippet
        class="border-primary-200 border-0 border-b-1 border-dotted py-3 last:border-b-0"
        blog={entry}
      />
    ))
  }
</div>
