---
import type { CollectionEntry } from "astro:content";
import { DateTime } from "luxon";
import { blogPubDate, urlForBlog } from "../utils/blog";

interface Props {
  blog: CollectionEntry<"blog">;
  link?: boolean;
}

const { blog } = Astro.props;
const link = Astro.props.link ?? false;

const { title, draft } = blog.data;
const pubDate = blogPubDate(blog);

const url = urlForBlog(blog);

const Wrapper = link ? "a" : Fragment;
---

<h1 class="my-2 text-3xl font-black">
  <Wrapper href={url}>
    {title}
    {
      draft ? (
        <span class="ml-2 rounded bg-amber p-1 text-black">Draft</span>
      ) : null
    }
  </Wrapper>
</h1>
<time datetime={pubDate.toISODate()} class="text-sm">
  <div class="i-fa6-regular:calendar mr-2"></div>
   Posted on {pubDate.toLocaleString(DateTime.DATE_FULL)}
</time>
