---
import Rainbow from "./Rainbow.astro";
import { AppConfig } from "../AppConfig";

interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<header
  class:list={[
    "flex flex-row items-center justify-center max-w-7xl mx-auto",
    className,
  ]}
>
  <h1 class="font-size-8 fw-500">
    <a href="/" class="flex">
      <Rainbow class="mr-1" />
      {AppConfig.name}
    </a>
  </h1>

  <nav class="flex grow items-center justify-end gap-5 text-xl">
    <a href="/blog">Posts</a>
  </nav>
</header>

<hr class="mb-5 mt-2 border-b border-primary-300" />
