/* ==== CSS Reset ==== */
/* From https://www.joshwcomeau.com/css/custom-css-reset/ */

/* 1. Use a more-intuitive box-sizing model.  */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Remove built-in form typography styles */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* ==== CSS Reset ends ==== */

main a[href],
header a[href],
footer a[href] {
  @apply transition-color transition-box-shadow duration-300 decoration-none;

  @apply color-primary;

  @apply hover:color-primary-700 active:color-primary-700;
  @apply focus:color-primary-700 focus:outline-none focus:ring focus:ring-primary-300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-d;
}

p {
  @apply my-3;
}
