---
import "@fontsource-variable/space-grotesk";
import "@fontsource-variable/comfortaa";
import "../styles.css";

import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";

interface Props {
  title: string;
  class?: string;
}

const { title, class: className } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/webp" href="/favicon.webp" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <link
      rel="alternate"
      type="application/rss+xml"
      title="RSS Feed"
      href="/feed.xml"
      hreflang="en"
    />
  </head>

  <body class="min-h-screen font-b dark:bg-slate-700 dark:color-white">
    <div class="mx-auto px-3">
      <Nav class="px-5 py-6" />

      <main class:list={className}>
        <slot />
      </main>

      <Footer />
    </div>
  </body>
</html>
